@(message: String)

@main(Messages("application.pagetitle")) {    
    <section class="mainContent" ng-controller="ShortUrlController" data-ng-init="init()">    	 
    	<div class="urlInput">
    		<input type="text" id="urlInput" class="input-text" placeholder="@Messages("application.labelForURLBox")" ng-model="urlInputModel" ng-enter="shortenURLButtonClick()">
    		
    		<div id="customcode" class="customcode">
    			@Messages("application.customcode") <span class="customtagurl">@Messages("application.orledomainurl")</span>
    			<input type="text" id="customcodeinput" class="customcodeinput" placeholder="@Messages("application.customcodeformat")" ng-model="customCodeModel" ng-enter="shortenURLButtonClick()">
    		</div>
    		
    		<button class= "myButton" id="shortenButton" shortenURL="@routes.Application.shorten" ng-click="shortenURLButtonClick()">@Messages("application.shortenButtonText")</button>
    	</div>    
    	<div id="spinnerDiv" class="spinner" ng-show="showSpinner"></div>
    	<div class="shortinfo" id="shortinfo" ng-show="shortinfoVisible">
    		<div class="shortdetails" id="shortdetails">
    			<button id="clearinput" class="cancel typcn typcn-delete" ng-click="closeDetailsDiv()"></button>
	   			<span class="shortenedURL" ng-bind="shortenedURLText" ng-show="successVisible"></span>
	   			<a id="openLinkButton" title="Open link" ng-href="{{shortenedURLText}}" target="_blank" ng-show="successVisible" ng-click="updateTotalCLicks()"><span class="util typcn typcn-export"></span></a>
	   			<div class="totalClicks" ng-show="successVisible">@Messages("application.clicksText")<span ng-bind="totalClicks" id="totalClicks"></span></div> 
	   		</div>
   			<div class="error" id="orleerror" ng-bind-html="errorHtml" ng-show="orleerrorVisible"></div>
    		
	   		<div id="shareMainDiv" ng-show="successVisible">
	   			<div id="sharerdiv" class="sharerdiv">
		   			<button id="facebooksharebutton" class="share facebookLogo typcn typcn-social-facebook" ng-click="facebookButtonClick()"></button>
					<button id="twittersharebutton" class="share twitterLogo typcn typcn-social-twitter" ng-click="twitterButtonClick()"></button>
					<button id="googlesharebutton" class="share googleplusLogo typcn typcn-social-google-plus" ng-click="googlePlusButtonClick()"></button>
				</div>
	   		</div>
	   		
	   		<textarea id="urlpreviewtrigger" class="hidden"></textarea>
	    	<div class="liveurl-loader"></div>
	    	
		    	<div class="liveurl">
		            <div class="close hidden" title="Close"></div>
		            <div class="inner">
		                <div class="image"> </div>
		                <div class="details">
		                    <div class="info">
		                        <div class="title"> </div>
		                        <div class="description"> </div> 
		                        <div class="url"> </div>
		                    </div>
		                </div>
						<div id="qrcode" class="qrcode">
							<div>QR Code</div>
						</div>
		            </div>
		        </div>
		        
	   		 		
	    	<div id="shortText" shortText="@Messages("application.shortText")"></div>
	    	<div id="shareittext" data="@Messages("application.shareit")"></div>
	    	<div id="orledomain" data=@message></div>
	    	<div id="domainerrortext" orledomainerror="@Messages("application.orledomainurlerror")" invalidurlerror="@Messages("application.invalidurlerror")" invalidcustomcode="@Messages("application.invalidcustomcode")"</div>
        </div>
    </section>
}
